<!-- Header -->
<%= render 'common/header' %>
<!-- Content -->
<div class="row mt-3 mx-1 mx-md-0">
  <div class="offset-md-1 col-md-10 pb-5">
    <h1 class="mb-3 text-center text-danger">Участники клуба</h1>
    <div class="row row-cols-1 row-cols-lg-2 g-4">
      <% @athletes.each do |athlete| %>
        <div class="col">
          <div class="card bg-body-tertiary mb-3 border-primary border-opacity-25 h-100 shadow">
            <div class="row g-0">
              <div class="col-sm-3 p-3 d-flex justify-content-center align-items-start">
                <%= image_tag athlete.image.variant(:web), class: 'img-fluid rounded', alt: athlete.name, loading: 'lazy' if athlete.image.attached? %>
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                  <h5 class="card-title text-uppercase">
                    <%= link_to athlete.name, athlete_path(athlete.nickname), class: 'stretched-link text-decoration-none text-body' %>
                  </h5>
                  <p class="card-text">
                    <% if @results_count.key? athlete.id %>
                      Количество выступлений за клуб <%= @results_count[athlete.id] %>.
                    <% else %>
                      Пока не было выступлений за клуб.
                    <% end %>
                  </p>
                  <% if athlete.debut_date %>
                    <p class="card-text"><small class="text-muted">Дата дебюта: <%= l athlete.debut_date %></small></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
