<!-- Header -->
<%= render 'common/header' %>
<!-- Content -->
<h1 class="mb-3 text-center text-danger"><%= @athlete.name %></h1>

<div class="row">
  <div class="col-md-10 offset-md-1">
    <p class="text-center">
      <% %w[probeg fiveverst s95 parkrun].each do |contact_type| %>
        <% next unless (contact_url = @athlete.public_send(:"#{contact_type}_link")).present? %>

        <%= link_to contact_url, class: 'text-decoration-none', target: '_blank', rel: 'noopener' do %>
          <%=
            image_tag(
              "/contacts/#{contact_type}.png",
              class: 'rounded-circle border border-opacity-25 mx-1',
              style: 'width: 50px;',
              alt: contact_type,
              title: contact_type.titleize,
            )
          %>
        <% end %>
      <% end %>
    </p>

    <h2>Выступления за клуб</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Дата</th>
          <th scope="col">Эстафета</th>
          <th scope="col" class="hidden-on-phone">Формат</th>
          <th scope="col" class="text-center">Место</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% total_count = @command_results.size %>
        <% @command_results.each_with_index do |command_result, idx| %>
          <tr>
            <th scope="row"><%= total_count - idx %></th>
            <td><%= l command_result.event.date %></td>
            <td><%= link_to command_result.event.name, command_result.event %></td>
            <td class="hidden-on-phone"><%= command_result.form %></td>
            <td class="text-center"><%= command_result.position %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
