<%= head_info :title, @athlete.name %>
<% head_info :description, "#{@athlete.name} - достижения и список результатов в команде Engirunners" %>
<header class="main-header"></header>
<!-- Content -->
<div class="row mx-0">
  <div class="col-md-10 offset-md-1">
    <div class="row mx-0 mt-3">
      <% athlete_with_photo = @athlete.image.attached? %>
      <% if athlete_with_photo %>
        <div class="col-lg-6 col-xl-4 px-0 text-center">
          <%= image_tag @athlete.image.variant(:high), class: 'athlete-img', alt: @athlete.name, title: @athlete.name %>
        </div>
      <% end %>
      <div class="<%= 'offset-lg-3 offset-xl-2 ' unless athlete_with_photo %>col-lg-6 col-xl-8">
        <div class="vstack align-items-center h-100">
          <h1 class="my-3 text-danger"><%= @athlete.name %></h1>
          <% unless @athlete.hide_birth_date %>
            <div class="mb-3">Дата рождения: <%= @athlete.birth_date.strftime('%d.%m.%Y') %></div>
          <% end %>
          <% if @positions_count.present? %>
            <div class="mb-4"><%= render 'medals' %></div>
          <% end %>
          <div class="mt-1 mt-lg-auto">
            <span class="hidden-on-phone">Профили:</span>
            <% %w[fiveverst s95 parkrun probeg strava].each do |contact_type| %>
              <% next unless (contact_url = @athlete.public_send(:"#{contact_type}_link")).present? %>

              <%= link_to contact_url, class: 'text-decoration-none', target: '_blank', rel: 'noopener' do %>
                <%= image_tag("/images/contacts/#{contact_type}.png", class: 'social-link', alt: t(contact_type), title: t(contact_type)) %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <h2 class="mt-4">Выступления за клуб</h2>
    <% total_count = @command_results.size %>
    <% if total_count.positive? %>
      <table class="table table-striped mb-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Эстафета</th>
            <th scope="col" class="hidden-on-phone">Формат</th>
            <th scope="col" class="text-center">Место</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% @command_results.each_with_index do |command_result, idx| %>
            <tr>
              <th scope="row"><%= total_count - idx %></th>
              <td><%= l command_result.event.date %></td>
              <td><%= link_to command_result.event.name, command_result.event %></td>
              <td class="hidden-on-phone"><%= command_result.form %></td>
              <td class="text-center"><%= command_result.position %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Пока не было выступлений в эстафетах за клуб.</p>
    <% end %>
  </div>
</div>
