<%= head_info :title, @athlete.name %>
<% head_info :description, "#{@athlete.name} - достижения и список результатов в команде Engirunners" %>
<div class="row mx-0 my-3">
  <div class="col-md-10 offset-md-1">
    <div class="text-center">
      <h1 class="fs-2 fw-bold my-3"><%= @athlete.name %></h1>
      <% unless @athlete.hide_birth_date %>
        <div class="mb-3 text-body-tertiary">
          Дата рождения: <%= @athlete.birth_date.strftime('%d.%m.%Y') %>
        </div>
      <% end %>
      <%= image_tag athlete_image_path(@athlete), class: 'athlete-img', alt: @athlete.last_name, title: @athlete.name %>
      <% if @positions_count.present? %>
        <div class="d-flex flex-row justify-content-center align-items-center">
          <%= render 'medals' %>
        </div>
      <% end %>
      <div class="d-flex flex-row flex-wrap justify-content-center align-items-center mt-4">
        <% %w[fiveverst s95 parkrun probeg strava telegram instagram].each do |contact_type| %>
          <% next unless (contact_url = @athlete.public_send(:"#{contact_type}_link")).present? %>

          <%= link_to contact_url, class: 'text-decoration-none', target: '_blank', rel: 'noopener' do %>
            <%= image_tag("/images/contacts/#{contact_type}.png", class: 'social-link', alt: t(contact_type), title: t(contact_type)) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if @athlete.description.present? %>
      <div class="mt-4 row justify-content-center">
        <div class="col-10 col-md-6 col-xl-4 p-4 description">
          <%= sanitized_text @athlete.description %>
        </div>
      </div>
    <% end %>

    <h2 class="mt-5 fw-bold fs-3 text-center">Выступления за клуб</h2>
    <% total_count = @command_results.size %>
    <% if total_count.positive? %>
      <p class="text-body-tertiary text-center mt-3">Всего стартов: <%= total_count %></p>
      <table class="table table-striped mb-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Эстафета</th>
            <th scope="col" class="hidden-on-phone">Формат</th>
            <th scope="col" class="text-center">Место</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% @command_results.each_with_index do |command_result, idx| %>
            <tr>
              <th scope="row"><%= total_count - idx %></th>
              <td><%= l command_result.event.date %></td>
              <td><%= link_to command_result.event.name, command_result.event %></td>
              <td class="hidden-on-phone"><%= command_result.form %></td>
              <td class="text-center"><%= command_result.position %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="my-5 text-center">Пока не было выступлений в эстафетах за клуб.</p>
    <% end %>
  </div>
</div>
