<%= head_info :title, 'Список эстафет' %>
<% head_info :description, 'Эстафеты, в которых принимал участие клуб Engirunners с момента своего основания' %>
<header class="header"></header>
<!-- Content -->
<div class="row mx-0 mt-2">
  <div class="offset-md-1 col-md-10">
    <h1 class="mb-3 text-center text-danger">Эстафеты</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Дата</th>
          <th scope="col">Название</th>
          <th scope="col" class="hidden-on-phone">Места</th>
          <th scope="col" class="text-center">Наших команд</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @events_grouped_by_year.each do |year, events| %>
          <tr class="table-light table-active">
            <th colspan="4" class="text-danger text-center fw-bold h3"><%= year %> год</th>
          </tr>
          <% events.each do |event| %>
            <tr>
              <th scope="row">
                <span class="d-none d-sm-block"><%= l event.date, format: :brief %></span>
                <span class="d-block d-sm-none"><%= l event.date, format: :short %></span>
              </th>
              <td><%= link_to event.name, event %></td>
              <td class="hidden-on-phone"><%= event.commands.map(&:position).sort.join(', ') %></td>
              <td class="text-center"><%= event.commands.size %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
