<!-- Header -->
<header class="main-header"></header>
<!-- Content -->
<div class="row mx-0 mt-2">
  <div class="offset-md-1 col-md-10">
    <h1 class="mb-3 text-center text-danger"><%= @event.name %></h1>

    <% @event.commands.order(:category, :position).each do |command| %>
      <h3>Команда "<%= command.name %>"</h3>

      <p>Формат эстафеты <%= command.form %></p>
      <p>Категория <%= human_command_category command %></p>
      <p>Итоговое время <%= human_result_time command.total_time %></p>
      <p>Место в категории <%= command.position %>/<%= command.places_category %></p>
      <p>Место в абсолюте <%= command.position_abs %>/<%= command.places_overall %></p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Этап</th>
              <th scope="col">Имя</th>
              <th scope="col">Дистанция</th>
              <th scope="col">Время</th>
              <th scope="col" class="hidden-on-phone">Темп</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% command.results.order(:stage).includes(:athlete).each do |result| %>
              <tr>
                <th scope="row"><%= result.stage %></th>
                <td><%= link_to result.athlete.name, athlete_path(result.athlete.nickname) %></td>
                <td><%= human_distance result.distance %></td>
                <td><%= human_result_time result.total_time %></td>
                <td class="hidden-on-phone"><%= human_result_pace result.total_time, result.distance %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>
