<!-- Header -->
<%= render 'common/header' %>
<!-- Content -->
<div class="row mt-2">
  <div class="offset-md-1 col-md-10">
    <h1 class="mb-3 text-center text-danger"><%= @event.name %></h1>

    <% @event.commands.order(:category, :position).each do |command| %>
      <h3><%= command.name %></h3>

      <p><%= command.form %></p>
      <p><%= human_command_category command %></p>
      <p>Место в категории <%= command.position %>/<%= command.places_category %></p>
      <p>Место в абсолюте <%= command.position_abs %>/<%= command.places_category %></p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Этап</th>
              <th scope="col">Имя</th>
              <th scope="col">Дистанция</th>
              <th scope="col">Время</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% command.results.order(:stage).includes(:athlete).each do |result| %>
              <tr>
                <th scope="row"><%= result.stage %></th>
                <td><%= link_to result.athlete.name, athlete_path(result.athlete.nickname) %></td>
                <td><%= result.distance %></td>
                <td><%= human_result_time result.total_time %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>
