<% head_info :title, 'О нас' %>
<% head_info :description, 'Информация о беговом клубе Engirunners. История создания клуба, наши цели.' %>
<header class="header"></header>
<!-- Content -->
<section>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <p class="lead">
          Дата основания Engirunners – 4 ноября 2015г. В этот день команда приняла участие в своём первом соревновании:
          это была Осенняя эстафета parkrun.
        </p>
        <p class="lead">
          Участников команды объединяет наличие у каждого технического образования
          и высокий уровень спортивной беговой подготовки.
        </p>
        <p class="lead">
          По состоянию на <%= l Date.current, format: :long %> г. в нашем активе:
        </p>
        <div class="rounded-4 bg-body-tertiary border border-primary border-opacity-25 shadow border p-3 mb-3">
          <ul class="lead list-group list-group-flush">
            <li class="list-group-item bg-body-tertiary">всего эстафет – <span class="digits"><%= @events_count %></span></li>
            <li class="list-group-item bg-body-tertiary">составов на эстафетах – <span class="digits"><%= @commands_count %></span></li>
          </ul>
        </div>
        <div class="rounded-4 bg-body-tertiary border border-primary border-opacity-25 shadow border p-3">
          <ul class="lead list-group list-group-flush">
            <li class="list-group-item bg-body-tertiary">🥇 первых мест – <span class="digits"><%= @position_counts[1] %></span></li>
            <li class="list-group-item bg-body-tertiary">🥈 вторых мест – <span class="digits"><%= @position_counts[2] %></span></li>
            <li class="list-group-item bg-body-tertiary">🥉 третьих мест – <span class="digits"><%= @position_counts[3] %></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<% render 'common/spacer' %>
