<section class="section mt-5 pb-4 pb-lg-5">
    <h1 class="fs-1 fw-bold">Клуб быстрых технарей</h1>
    <p class="text-body-tertiary">Отлично шевелим не только мозгами, но и ногами</p>
    <%= image_tag '/images/main_relay.webp', class: 'img-fluid', alt: 'Relay', title: 'Эстафета' %>
</section>
<!-- About us section -->
<section class="bg-secondary pt-4 pt-lg-5 pb-5">
  <div class="section">
    <div class="row position-relative">
      <div class="col-12 col-md-5 order-1 order-md-0">
        <%= image_tag '/images/main_group.webp', class: 'img-feed', alt: 'Engirunners', title: 'Наша команда' %>
      </div>
      <div class="col-12 col-md-7">
        <h2 class="fs-2 fw-bold mb-3 mt-md-2">
          <%= link_to 'О нас', about_path, class: 'stretched-link text-decoration-none text-body' %>
        </h2>
        <p class="text-body-tertiary mb-2">Дата основания 4 ноября 2015 года.</p>
        <p>
          Впервые команда приняла участие в Осенней эстафете Parkrun.
          Участников команды объединяет наличие у каждого технического образования
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Main sections -->
<section class="mx-0 pt-4 pt-lg-5 pb-5">
  <div class="section">
    <div class="row mb-4 position-relative">
      <div class="col-12 col-md-7">
        <h2 class="fs-2 fw-bold mb-3 mt-md-2">
          <%= link_to 'Команда', athletes_path, class: 'stretched-link text-decoration-none text-body' %>
        </h2>
        <p>Актуальный состав Engirunners</p>
      </div>
      <div class="col-12 col-md-5 order-1 order-md-0 text-md-end">
        <%= image_tag '/images/command.webp', class: 'img-feed', alt: 'Engirunners', title: 'Наша команда' %>
      </div>
    </div>
    <div class="row mb-4 position-relative">
      <div class="col-12 col-md-7">
        <h2 class="fs-2 fw-bold mb-3 mt-md-2">
          <%= link_to 'Эстафеты', events_path, class: 'stretched-link text-decoration-none text-body' %>
        </h2>
        <p>То, что мы любим и делаем очень хорошо</p>
      </div>
      <div class="col-12 col-md-5 order-1 order-md-0 text-md-end">
        <%= image_tag '/images/events.webp', class: 'img-feed', alt: 'Эстафеты', title: 'Эстафеты' %>
      </div>
    </div>
    <div class="row position-relative">
      <div class="col-12 col-md-7">
        <h2 class="fs-2 fw-bold mb-3 mt-md-2">
          <%= link_to 'Достижения', achievements_path, class: 'stretched-link text-decoration-none text-body' %>
        </h2>
        <p>То, чем мы гордимся</p>
      </div>
      <div class="col-12 col-md-5 order-1 order-md-0 text-md-end">
        <%= image_tag '/images/achievements.webp', class: 'img-feed', alt: 'Достигая результатов', title: 'Достигая результатов' %>
      </div>
    </div>
  </div>
</section>
<!-- Partners section -->
<section class="mx-0 bg-light py-5">
  <div class="section px-3 px-lg-0">
    <h2 class="fs-2 fw-bold mb-3 mt-sm-2">Партнёры</h2>
    <p class="text-body-tertiary mb-2">Мы всегда готовы к сотрудничеству</p>
    <div class="d-flex flex-row flex-wrap justify-content-evenly align-items-center mx-2 my-4">
      <% Partner.includes(logo_attachment: :blob).find_each do |partner| %>
        <%= link_to partner.link, class: 'm-2', target: '_blank', rel: 'noopener' do %>
          <%= image_tag partner.logo.variant(:web), class: 'partner-img', alt: partner.name, title: partner.name %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
