<!-- Header -->
<header style="background-image: url('/images/main_header.png'); background-position: center; background-size: cover; height: 45vh;"></header>
<!-- Features section -->
<div class="text-center m-5">
  <h1 class="fw-1 text-danger fw-bold">Клуб быстрых технарей</h1>
</div>
<section class="pb-5 border-bottom">
  <div class="container">
    <div class="row justify-content-center gap-4 px-4">
      <div class="col-lg-3 rounded-4 bg-body-tertiary border border-primary border-opacity-25 shadow border p-4">
        <div class="feature bg-danger bg-gradient text-white rounded-3 mb-3"><i class="fa-solid fa-people-group"></i></div>
        <h2 class="h4 fw-bolder">Состав</h2>
        <p>Хорошие быстрые ребята</p>
        <%= link_to athletes_path, class: 'text-decoration-none icon-link' do %>
          <i class="fa-regular fa-eye"></i> Смотреть
        <% end %>
      </div>
      <div class="col-lg-3 rounded-4 bg-body-tertiary border border-primary border-opacity-25 shadow border p-4">
        <div class="feature bg-danger bg-gradient text-white rounded-3 mb-3"><i class="fa-solid fa-table"></i></div>
        <h2 class="h4 fw-bolder">Эстафеты</h2>
        <p>Эстафеты и показанные результаты</p>
        <%= link_to events_path, class: 'text-decoration-none icon-link' do %>
          <i class="fa-regular fa-eye"></i> Смотреть
        <% end %>
      </div>
      <div class="col-lg-3 rounded-4 bg-body-tertiary border border-primary border-opacity-25 shadow p-4">
        <div class="feature bg-danger bg-gradient text-white rounded-3 mb-3"><i class="fa-solid fa-trophy"></i></div>
        <h2 class="h4 fw-bolder">Достижения</h2>
        <p>Об успехах нашего клуба</p>
        <%= link_to achievements_path, class: 'text-decoration-none icon-link' do %>
          <i class="fa-regular fa-eye"></i> Смотреть
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- Partners section -->
<section class="bg-light py-5 border-bottom">
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h2 class="fw-bolder">Наши партнёры</h2>
      <p class="lead mb-0">Мы всегда готовы рассмотреть вопросы сотрудничества</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <% Partner.all.find_each do |partner| %>
        <div class="col-6 col-md-3 col-xl-2">
          <%= link_to partner.link do %>
            <div class="card mb-3 mb-xl-0 shadow">
              <%= image_tag partner.logo.variant(:thumb), class: 'card-img', alt: partner.name, title: partner.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2 id="contacts">Наши контакты</h2>
        <p class="lead">Пишите нам письма, ищите в соцсетях.</p>
        <ul class="fa-ul">
          <li>
            <span class="fa-li"><i class="fa-regular fa-paper-plane"></i></span>
            <a href="https://t.me/engirunners" class="text-decoration-none" target="_blank" rel="noopener">@engirunners</a>
          </li>
          <li>
            <span class="fa-li"><i class="fa-regular fa-envelope"></i></span>
            <a href="mailto:info@engirunners.com" class="text-decoration-none" target="_blank" rel="noopener">info@engirunners.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Header -->
<div class="bg-image-full" style="background-image: url('/images/plate.png')">
  <div style="height: 5rem"></div>
</div>
