<!DOCTYPE html>
<html lang="ru">
  <head>
    <title><%= yield_head_info(:title, 'Беговой клуб') %> | Engirunners</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= yield_head_info(:description, 'Беговой клуб Engirunners: о клубе, участниках, соревнованиях и их результатах') %>">
    <meta name="keywords" content="engirunners,клуб,бег,сообщество,результаты,соревнования,эстафеты,достижения,планы">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Беговой клуб Engirunners">
    <meta property="og:url" content="https://engirunners.com">
    <meta property="twitter:site" content="@engirunners">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Cайт о беговом клубе Engirunners, его участниках, соревнованиях и их результатах">
    <meta name="twitter:title" content="Беговой клуб Engirunners">
    <meta name="twitter:image" content="/images/main_header.png">
    <meta property="og:image" content="/images/main_header.png">
    <meta property="og:image:width" content="300">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg py-md-3 py-lg-4">
      <div class="container">
        <%= link_to root_path, class: 'navbar-brand text-uppercase fw-bold' do %>
          <%= image_tag '/logo_header.svg', class: 'img-logo', alt: 'logo', title: 'Engirunners' %>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключение меню">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><%= link_to 'Главная', root_path, class: "nav-link #{'active' if current_page? 'index'}" %></li>
            <li class="nav-item"><%= link_to 'О нас', about_path, class:"nav-link #{'active' if current_page? 'about'}" %></li>
            <li class="nav-item"><%= link_to 'Команда', athletes_path, class:"nav-link #{'active' if current_page? 'athletes'}" %></li>
            <li class="nav-item"><%= link_to 'Эстафеты', events_path, class:"nav-link #{'active' if current_page? 'events'}" %></li>
            <li class="nav-item"><%= link_to 'Достижения', achievements_path, class:"nav-link #{'active' if current_page? 'achievements'}" %></li>
            <li class="nav-item"><a href="/#partners" class="nav-link">Партнёры</a></li>
            <li class="nav-item"><a href="/#contacts" class="nav-link">Контакты</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <header class="main-header"></header>
    <!-- Content section-->
    <%= yield %>
    <!-- Footer-->
    <footer id="contacts" class="bg-dark py-5 mt-auto d-flex flex-column align-items-center justify-content-center footer-text">
      <%= image_tag '/logo_footer.svg', class: 'img-logo-footer my-3', alt: 'logo', title: 'Engirunners' %>
      <p class="mb-1">
        Напишите нам:
        <a href="mailto:engirunners@yandex.ru" class="footer-link" target="_blank" rel="noopener">engirunners@yandex.ru</a>
      </p>
      <p class="mb-1">
        Следите за нами в соцсетях:
        <a href="https://t.me/engirunners" class="footer-link" target="_blank" rel="noopener">@engirunners</a>
      </p>
      <div class="fs-1">
        <a href="https://t.me/engirunners" class="footer-link me-3" target="_blank" rel="noopener">
          <i class="fa-brands fa-telegram" role="img" aria-label="Telegram"></i>
        </a>
        <a href="https://vk.com/engirunners" class="footer-link me-3" target="_blank" rel="noopener">
          <i class="fa-brands fa-vk" role="img" aria-label="VK"></i>
        </a>
        <a href="https://www.instagram.com/engirunners/" class="footer-link" target="_blank" rel="noopener">
          <i class="fa-brands fa-instagram" role="img" aria-label="Instagram"></i>
        </a>
      </div>
    </footer>
  </body>
</html>
